#timerContainer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.timer, .reset {
  font-size: 1em;
  text-align:center;
  color: black;
  background: #ffffff;
  cursor: pointer
}
