#landing_page {
  text-align: center;
  font-size: 6vh;
}

#titel {
  margin: auto;
  padding-top: 10vh;
}

#particles-js {
  align-items: center;
  width: 100%;
  height: 40vh;
  background: url("/static/blue-1.jpg");
}

#upload_data {
  text-align: center;
  font-size: 6vh;
  padding-top: 30vh;
}

#Upload_Code{
  text-align: center;
 padding-top: 30vh;
}
#start_training{
  font-size: 6vh;
}

#training_data{
  font-size: 6vh;
  text-align: center;
  padding-top: 10vh;
}

#Display_Results{
  text-align: center;

}
#p_complete_time{
  font-size: 3vh;
}
#p_training_time{
  font-size: 3vh;
}
#p_testing_time{
  font-size: 3vh;
}
#p_accuracy{
  font-size: 3vh;
}
#descrprogress{
  font-size: 3vh;
}
#p_accuracy2{
  font-size: 3vh;
}
#results{
  font-size: 6vh;
}
#pasteprogressbar{
  padding-left: 10vh;
  padding-right: 10vh;
}

#training_button{
  padding-top: 1vh;
  font-size: 6vh;
  text-align: center;

}

#upload_code{
  font-size: 6vh;
}
#model_select{
  padding-left: 2vh;
  padding-right: 2vh;
}


#table{
  padding-top: 1vh;
}
#info{
   padding-left: 1vh;
  padding-right: 1vh;
}

#choose_model{
  font-size: 6vh;
}

#code{
  padding-top: 5vh;
  text-align: center;
  font-size: 6vh;
}

#button{
  text-align: center;
}


#table_button{
text-align: center;
}

#time{
  text-align: center;
}
#container{
  height: 50vh;
  width: 92.85vh;
  margin: 0 auto;
}

#show_results{
  padding-top: 10vh;
}

#small {
  font-size: 10%;
}

#time_results{
  font-size: 1.5vh;
}

#score_results{
  font-size: 1.5vh;

}
#bar_results{
  font-size: 1.5vh;

}


