#Landing\ Page{
  text-align: center;
  font-size:3em;

}

#Titel{
  padding-top: 100px;
}
#Button_Landing_Page{
  padding-top: 250px;

}

#Upload\ Data {
  text-align: center;
  font-size: 3em;
  padding-top: 250px;
}

#Upload\ Code{
  text-align: center;
  padding-top: 250px;
}
#start_training{
  font-size:3em;
}

#Training\ Data{
  font-size:3em;
  text-align: center;
  padding-top: 225px;
}

#Display\ Results{
  text-align: center;
  font-size:3em;
  padding-top: 300px;
}
#Upload\ Code{

}
#Training_Button{
  font-size:3em;
  text-align: center;

}

#code{
  font-size:3em;
}


#button{
    margin-left: auto;
  margin-right: auto;
}


