<!doctype html>
<html lang="en">
<head>
    <!-- Stopwatch-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stopWatch.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
            integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.css"
          integrity="sha256-+dIh4jG2jQTHZwW81yUo8h6tzXWcNumyNL5XPZbwp1E=" crossorigin="anonymous"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://unpkg.com/portal-vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>


    <!-- Load polyfills to support older browsers -->


    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <title>MLV</title>
</head>
<body>
<!-- html hat eine Eingebaute upload funktion. Die sieht aber hässlich aus.
Das ganze besteht aus der form method... und den beiden inputs "file" und "submit", wobei file den filebrowser öffnet
und submit den upload vollendet. Mit hidden="hidden" verstecken wir den Kram einfach. Die 3 Buttons hatten wir ja schon. Unten wird im Skript Teil dann mit einem EventListener
bei einem Klick auf unsere Buttons ein Klick auf den tatsächlichen Button simuliert. Jeweil für CSV und Code. Wenn eine Datei
im Filebrowser ausgewählt wurde, ändert sich der "value" von dem tatsächlichen Button. Dadurch weiß man, dass man jetzt die Datei
durch einen simulierten Klick auf den Submit button in den uploads Ordner schicken kann, was in app.py geschieht-->

{% block content %}
    <div id="fullPage">
        <div class="section" id="Landing Page">
            <div id="Titel">Machine Learning Visualization</div>
            <div id="Button_Landing_Page">
                <p>Start Process</p>
                <a href="#section2"><img class="Button"
                                         src="https://img.icons8.com/color/48/000000/expand-arrow.png"></a>
            </div>
        </div>
        <div class="section">
            <!-- MESSAGE SEC FAILED for CSV FILE UPLOAD-->
            <div class="=container">
                {% with errors = get_flashed_messages(category_filter=["errorfileformatcsv"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <!-- MESSAGE SEC SUCCESSFUL for CSV FILE UPLOAD-->
            <div class="=container">
                {% with errors = get_flashed_messages(category_filter=["csvsuc"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="Upload Data">
                <p id="test">Upload our data</p>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="data_upload" id="real-file" hidden="hidden"/>
                    <input type="submit" id="sub-file" hidden="hidden"/>
                    <button type="button" class="btn btn-primary" id="custom-csvbtn">Upload CSV</button>
                </form>
                <p>Look at your Data</p>
                <a href="#section3"><img class="Button" src="https://img.icons8.com/color/48/000000/expand-arrow.png"
                ></a>
            </div>
        </div>
        <div class="section">
            <div id="info">
                <div id="app">
                    <app-user id="table"></app-user>
                    <infocard id="info"></infocard>
                </div>
            </div>
            <div id="code">Upload Code</div>
            <div id="button">
                <a href="#section4"><img class="Button" src="https://img.icons8.com/color/48/000000/expand-arrow.png"
                                         id="Table_Button"></a>
            </div>
        </div>
        <div class="section" id="code_upload_section">
            <!-- Dropdown menu-->
            <div class="dropdown" hidden="hidden">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select ML Algorithm
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="drop(id)" id="0" href="#">Support Vector Machine</a>
                    <a class="dropdown-item" onclick="drop(id)" id="1" href="#">Lineare Regression</a>
                    <a class="dropdown-item" onclick="drop(id)" id="2" href="#">Neuronales Netz</a>
                    <a class="dropdown-item" onclick="drop(id)" id="3" href="#">Entscheidungsbäume</a>
                    <a class="dropdown-item" onclick="drop(id)" id="4" href="#">Random Forest</a>
                </div>
            </div>
            <!-- MESSAGE SEC FAILED FOR CODE UPLOAD-->
            <div class="=container">
                {% with errors = get_flashed_messages(category_filter=["errorfileformatpy"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            </div>
            <!-- MESSAGE SEC SUCCESSFUL for CODE UPLOAD-->
            <div class="=container">
                {% with errors = get_flashed_messages(category_filter=["pysuc"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="Upload Code">
                <p id="upload_code">Upload Code</p>
                <p id="choose_model">Choose Model</p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="toggling" value="checkval"
                           id="customSwitches">
                    <label class="custom-control-label" for="customSwitches">Automatic mode on/off</label>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="code_upload" id="real-file2" hidden="hidden"/>
                    <input type="submit" id="sub-file2" hidden="hidden"/>
                    <button type="button" class="btn btn-primary" id="custom-codebtn">Upload Code</button>
                </form>
                <div id="model_select">
                    <div class="card-deck">
                        <div class="card" onclick="drop(id)" id="0">
                            <div class="card-body">
                                <h5 class="card-title">Support Vector Machine</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card" onclick="drop(id)" id="1">
                            <div class="card-body">
                                <h5 class="card-title">Lineare Regression</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card" onclick="drop(id)" id="2">
                            <div class="card-body">
                                <h5 class="card-title">Neural network</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card" onclick="drop(id)" id="3">
                            <div class="card-body">
                                <h5 class="card-title">Decision tree</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card" onclick="drop(id)" id="4">
                            <div class="card-body">
                                <h5 class="card-title">Random Forest</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="Training_Button">
                    <p>Start Training</p>
                    <a href="#section5"><img class="Button" onclick="define_start()"
                                             src="https://img.icons8.com/color/48/000000/expand-arrow.png"
                    ></a>
                </div>
            </div>
        </div>
        <div class="section" id="Training Data">
            <p id="model_trains">Your model is training</p>
            <div id="container">
                <canvas id="myChart"></canvas>
            </div>
            <p id="model_finised">Your model finished training</p>
            <div id="time">
                <div id="timerContainer">
                    <div class="timer" onclick="startTimer()">00:00:00:000</div>
                    <div class="startTimer reset" hidden="hidden" onclick="startTimer()">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="pauseTimer reset" hidden="hidden" onclick="pauseTimer()">
                        <i class="fas fa-pause"></i>
                    </div>
                    <div class="resetTimer reset" hidden="hidden" onclick="resetTimer()">Reset</div>
                </div>
            </div>
            <div id="button_results">
                <p id="show_results">Look at the results</p>
                <div id>
                    <a href="#section6"><img class="Button"
                                             src="https://img.icons8.com/color/48/000000/expand-arrow.png"></a>
                </div>
            </div>
        </div>
        <div class="section" id="Display Results">
            <p>Show Results</p>
            <p id="p_complete_time">Complete Time</p>
            <p id="p_training_time">Training Time</p>
            <p id="p_testing_time">Testing Time</p>
            <p id="p_accuracy">Accuracy</p>
             <div id="app2">
            <r2_score_bar></r2_score_bar>
             </div>

            <a href="http://127.0.0.1:5000/#section2"><button type="button" class="btn btn-primary" onclick="reset()">New CSV</button></a>
            <a href="http://127.0.0.1:5000/#section4"><button type="button" class="btn btn-primary" onclick="reset()">Diffrent Model</button></a>
        </div>
    </div>
    <!-- JavaScript -->
    <script type="text/javascript" src="/static/js/stopWatch.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.js"
            integrity="sha256-wypDCQw+qwWtdARZAAtUMv/1SWOEB1XHZwAFoNc9Wn8=" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>



        Vue.component('app-user', {
            data: function () {
                return {
                    test22: "keck",
                    items: [
                        {
                            heading1: 'd_var',
                            heading2: '22222',
                            heading3: 'table cell',
                            heading4: 'table cell',
                            heading5: 'table cell',
                            heading6: 'table cell',
                            heading7: 'table cell',
                            heading8: 'table cell',
                            heading9: 'table cell',
                            heading10: 'table cell',
                            heading11: 'table cell',

                        },
                        {
                            heading1: 'table cell',
                            heading2: 'table cell',
                            heading3: 'table cell',
                            heading4: 'table cell',
                            heading5: 'table cell',
                            heading6: 'table cell',
                            heading7: 'table cell',
                            heading8: 'table cell',
                            heading9: 'table cell',
                            heading10: 'table cell',
                            heading11: 'table cell',

                        },
                        {
                            heading1: 'table cell',
                            heading2: 'table cell',
                            heading3: 'table cell',
                            heading4: 'table cell',
                            heading5: 'table cell',
                            heading6: 'table cell',
                            heading7: 'table cell',
                            heading8: 'table cell',
                            heading9: 'table cell',
                            heading10: 'table cell',
                            heading11: 'table cell',

                        },
                        {
                            heading1: 'table cell',
                            heading2: 'table cell',
                            heading3: 'table cell',
                            heading4: 'table cell',
                            heading5: 'table cell',
                            heading6: 'table cell',
                            heading7: 'table cell',
                            heading8: 'table cell',
                            heading9: 'table cell',
                            heading10: 'table cell',
                            heading11: 'table cell',

                        },
                        {
                            heading1: 'table cell',
                            heading2: 'table cell',
                            heading3: 'table cell',
                            heading4: 'table cell',
                            heading5: 'table cell',
                            heading6: 'table cell',
                            heading7: 'table cell',
                            heading8: 'table cell',
                            heading9: 'table cell',
                            heading10: 'table cell',
                            heading11: 'table cell',

                        }
                    ]
                };

            },
            template: '<div>' +

                '<b-table responsive="true" head-variant="dark" no-border-collapse="true" bordered="true"  :items="items"></b-table>' +
                '</div>'
            , methods: {
                sorting(dict) {
                    unsorted = []
                    for (d in dict) {
                        unsorted.push(d)
                    }
                    unsorted.sort()
                    console.log(unsorted)
                    sorted_dict = {};
                    for (i = 0; i < unsorted.length; i++) {
                        sorted_dict[unsorted[i]] = dict[unsorted[i]];
                        return sorted_dict
                    }
                },
                getcsvext() {
                    {#get infos from flask api#}
                    var self = this;
                    axios
                        .get('http://127.0.0.1:5000/api/csvtable')
                        .then(function (response) {
                            self.items = response.data
                        }).catch(error => console.log(error));
                }
            }, mounted() {
                this.getcsvext();
            }
        });
        Vue.component('infocard', {
            data: function () {
                return {
                    data: {
                        CSVSIZE: null,
                        COLUMN: null,
                        NAME: null,
                        ROWS: null
                    }
                }
            },
            delimiters: ['${', '}'],
            template: '<div>' +
                '<div class="card-deck">' +
                ' <b-card ' +
                ' border-variant="dark"' +
                'header="Size"' +
                'header-bg-variant="dark"' +
                ' header-text-variant="white"' +
                ' align="center">' +
                ' <b-card-text >${ data.CSVSIZE }B </b-card-text>' +
                '</b-card>' +
                ' <b-card ' +
                ' border-variant="dark"' +
                'header="Column"' +
                'header-bg-variant="dark"' +
                ' header-text-variant="white"' +
                ' align="center">' +

                ' <b-card-text> ${ data.COLUMN } </b-card-text>' +
                '</b-card>' +
                ' <b-card ' +
                ' border-variant="dark"' +
                'header="Name"' +
                'header-bg-variant="dark"' +
                ' header-text-variant="white"' +
                ' align="center">' +

                ' <b-card-text>${ data.NAME }</b-card-text>' +
                '</b-card>' +
                ' <b-card ' +
                ' border-variant="dark"' +
                'header="Rows"' +
                'header-bg-variant="dark"' +
                ' header-text-variant="white"' +
                ' align="center">' +

                ' <b-card-text>${ data.ROWS }</b-card-text>' +
                '</b-card>' +
                '</div >' +
                '</div>'
            , methods: {
                getInfos() {
                    {#get infos from flask api#}
                    var self = this;
                    axios
                        .get('http://127.0.0.1:5000/api/csvinfo')
                        .then(function (response) {
                            self.data.CSVSIZE = response.data[1];
                            self.data.NAME = response.data[0];
                            self.data.ROWS = response.data[2];
                            self.data.COLUMN = response.data[3];
                        }).catch(error => {
                        console.log(error.response)
                    });
                }
            }, mounted() {
                this.getInfos();
            }
        });
        var vm = new Vue({
            el: '#app',
            delimiters: ["${", "}"]
        });


    </script>
    <script>
     Vue.component('r2_score_bar',{
            data: function () {
                return {
        value: 0.4444,
                };
            },
            template:  ' <div>'  +
                ' <div>'  +
               '     <b-progress class="mt-2" :max=1 show-value>'  +

        '            <b-progress-bar :value="value " :precision="5" ></b-progress-bar>'  +
                '    </b-progress>'  +

                '   </div>' +
                '   </div>'
        });

     var vm2 = new Vue({
            el: '#app2',
            delimiters: ["${", "}"]
        });
    </script>
    <script>
        new fullpage('#fullPage', {
            autoScrolling: true,
            anchors: ['section1', 'section2', 'section3', 'section4', 'section5', 'section6'],
            verticalCentered: false
        })
        fullpage_api.setAllowScrolling(false);
    </script>

    <script type="text/javascript">
        const realBtn = document.getElementById("real-file");
        const customCSVBtn = document.getElementById("custom-csvbtn");
        const customCodeBtn = document.getElementById("custom-codebtn");

        const realBtn2 = document.getElementById("real-file2");
        const realSubBtn2=document.getElementById("sub-file2");


        const realSubBtn = document.getElementById("sub-file");

        customCSVBtn.addEventListener("click", function () {
            realBtn.click();
        });

        customCodeBtn.addEventListener("click", function () {
            realBtn2.click();
        });

        realBtn.addEventListener("change", function () {
            if (realBtn.value) {
                realSubBtn.click()
            }
        });
        realBtn2.addEventListener("change", function () {
            if (realBtn2.value) {
                realSubBtn2.click()
            }
        });
    </script>
    <!-- Toggle communication with Flask by ajax-->
    <script>

        const toggle = document.getElementById("customSwitches");
        const mlbtn = document.getElementById("dropdownMenuButton");
        const modelselect = document.getElementById("model_select");
        const uploadcode = document.getElementById("upload_code");
        const choosemodel = document.getElementById("choose_model");
        modelselect.hidden = true;
        customCodeBtn.hidden = false;
        mlbtn.hidden = true;
        customCodeBtn.hidden = false;
        choosemodel.hidden = true;

        var togglebool = false;


        toggle.addEventListener("click", function () {
            if (togglebool) {
                togglebool = false;
                mlbtn.hidden = true;
                customCodeBtn.hidden = false;
                modelselect.hidden = true;
                uploadcode.hidden = false;
                choosemodel.hidden = true;

            } else {
                togglebool = true;
                mlbtn.hidden = false;
                customCodeBtn.hidden = true;
                modelselect.hidden = false;
                uploadcode.hidden = true;
                choosemodel.hidden = false;
            }

            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://127.0.0.1:5000/api/toggle", true);
            xhttp.send(togglebool);


        })

    </script>
    <!--dropdown functionality and communication by ajax with flask to select the right ML algorithm-->
    <!--ajax request to start training-->

    <script>
        $(".card").click(function () {
            $(this).toggleClass('card card bg-primary text-white')
        });


    </script>
    <script>
    function reset() {
         $("#model_finised").hide();
        $("#show_results").hide();
        $("#button_results").hide();
         $("#model_trains").show();
         $("#container").show();


    }
        function drop(id) {
            const mlbtn = document.getElementById("dropdownMenuButton");
            const selectedbtn = document.getElementById(id);
            mlbtn.firstChild.data = selectedbtn.firstChild.data;
            $(selectedbtn).removeClass("card").addClass("card bg-primary text-white ");

            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://127.0.0.1:5000/api/mlalg", true);
            xhttp.send(id);

        }

        $("#model_finised").hide();
        $("#show_results").hide();
        $("#button_results").hide();

        function start_training() {
            window.setInterval(function () {
                    randomizeData();
                }
                , 700);

            resetTimer();
            startTimer();
            axios
                .get('http://127.0.0.1:5000/api/training')
                .then(function (response) {
                    pauseTimer();
                    $("#model_trains").hide(400);
                    $('#model_finised').show(400);
                    $("#show_results").show(400);
                    $("#button_results").show(400);
                    $("#container").hide(400);
                    document.getElementById("p_training_time").innerHTML = "Training Time: " + response.data.train_time + " s";
                    document.getElementById("p_testing_time").innerHTML = "Testing Time: " + response.data.test_time + " s";
                    document.getElementById("p_complete_time").innerHTML = "Overall Time: " + timerDisplay.innerHTML;
                    document.getElementById("p_accuracy").innerHTML = "Accuracy: " + response.data.result;
                }).catch(error => {
                console.log(error.response)
            });
        }

        function define_start() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://127.0.0.1:5000/api/def", false);
            xhttp.send();
            start_training();
        }
    </script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };

        let data_chart = [1, 10, 5, 2, 20, 30, 45];
        myData = {
            labels: ["", "", "", "", "", "", ""],
            datasets: [
                {
                    data: data_chart,
                    backgroundColor: [randomColorGenerator(), randomColorGenerator(), randomColorGenerator(), randomColorGenerator(), randomColorGenerator(), randomColorGenerator(), randomColorGenerator()],
                    scaleLineColor: 'transparent'
                }]
        };

        // Default chart defined with type: 'line'
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: myData,
            options: {
            scales: {
                yAxes: [{
                    ticks: {
                        display: false
                    },
                    gridLines: {
                        display: false,
                    },
                     display: false

                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    },
                    angleLines: {
                        display: false
                    },
                     display: false
                }],
            },
            legend: {
                display: false,

                }

        }

        });

        // Function runs on chart type select update


        // Randomize data button function
        function randomizeData() {
            let newdata_chart = data_chart.map(x => Math.floor(Math.random() * 50));

            myData.datasets[0].data = newdata_chart
            myChart.update();
        };


    </script>
    <script>

    </script>
{% endblock %}
</body>
</html>
